@import url(style.css);
@font-face {
  font-family: Inter-Bold;
  src: url(font/Inter/static/Inter-Bold.ttf);
}
@font-face {
  font-family: Inter-Regular;
  src: url(font/Inter/static/Inter-Regular.ttf);
}

html,
body {
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0% 20%;
}
header {
  display: flex;
  height: calc(var(--space) * 10);
  font-family: Inter-Bold;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  display: flex;
  flex-direction: column;
  font-size: calc(var(--font-size));
}

main {
  height: calc(100% - var(--space) * 16);
  display: flex;
  flex-direction: column;
}

main section {
  height: 20%;
  display: flex;
  align-items: center;
}

main section:nth-child(2n) {
  justify-content: space-between;
}
main section:nth-child(2n) img {
  display: block;
  width: 100%;
}

main section img {
  width: 100%;
  height: 100%;
}

main section:nth-child(5) {
  justify-content: space-between;
}

main section .project {
  width: 50%;
  height: 90%;
  font-size: calc((var(--font-size) / 1.5));
  font-family: "Inter-Regular";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main section .project a {
  color: var(--color-blue);
}
main section .project h1 {
  font-size: calc(var(--font-size) * 2);
}
main section .project a {
  font-size: calc(var(--font-size));
}

main section img {
  height: 100%;
  opacity: 70%;
  transition: all 0.5s linear;
}
main section img:hover {
  opacity: 100%;
}
main section:nth-child(2n) .img {
  width: 50%;
  height: 100%;
}
main section .img {
  height: 100%;
}
main section:nth-child(2n) .project {
  text-align: right;
}

footer {
  height: calc(var(--space) * 6);
  font-family: "Inter-Regular";
  font-size: calc(var(--font-size) / 1.5);
  display: flex;
  align-items: center;
}

@media screen and (min-width: 375px) and (max-width: 430px) {
  .container {
    padding: 0 5%;
  }
  header {
    height: calc(var(--space) * 8);
  }
  header h1 {
    font-size: calc(var(--font-size) / 1.5);
  }
  main section .project a {
    font-size: calc(var(--font-size) / 1.5);
  }
  main section .project h1 {
    font-size: calc(var(--font-size) / 1.2);
  }
  footer {
    font-size: calc(var(--font-size) / 2);
  }
}
@media screen and (min-width: 430px) and (max-width: 834px) {
  .container {
    padding: 0 5%;
  }
  header {
    height: calc(var(--space) * 8);
  }
  header h1 {
    font-size: calc(var(--font-size) / 1.2);
  }
  main section .project {
    height: 70%;
  }
  main section .project a {
    font-size: calc(var(--font-size) / 1.2);
  }
  main section .project h1 {
    font-size: calc(var(--font-size));
  }
  footer {
    font-size: calc(var(--font-size) / 2);
  }
}

@media screen and (min-width: 834px) and (max-width: 1280px) {
  .container {
    padding: 0 5%;
  }
  header {
    height: calc(var(--space) * 20);
  }
  header h1 {
    font-size: calc(var(--font-size) * 1.5);
  }
  main {
    height: calc(100% - var(--space) * 32);
  }
  main section .project a {
    font-size: calc(var(--font-size) * 2);
  }
  main section .project h1 {
    font-size: calc(var(--font-size) * 2.4);
  }
  footer {
    height: calc(var(--space) * 12);
    font-size: calc(var(--font-size));
  }
}

@media screen and (min-width: 1280px) and (max-width: 1512px) {
  .container {
    padding: 0 5%;
  }
  header h1 {
    font-size: calc(var(--font-size));
  }
  main {
    height: calc(100% - var(--space) * 22);
  }
  footer {
    height: calc(var(--space) * 12);
  }
}
@media screen and (min-width: 1512px) and (max-width: 1728px) {
  .container {
    padding: 0% 15%;
  }
}

@media screen and (min-width: 1512px) and (max-width: 1728px) {
  .container {
    padding: 0% 15%;
  }
  header {
    margin-top: calc(var(--space) * 3);
    margin-bottom: calc(var(--space) * 6);
  }
  header h1 {
    font-size: calc(var(--font-size) * 1.8);
  }
  main section .project a {
    font-size: calc(var(--font-size) * 1.2);
  }
  footer {
    margin-top: calc(var(--space) * 3);
  }
}
